# this file is executed during servers auto-update process by cron job
# on production server should be with name "update_servers.sh" and with filled CRON_SECRET

curl --location 'https://artlist.dev/api/servers/update' \
--header 'Authorization: Bearer CRON_SECRET'